/* VARIABLES */
:root {
  --accent-color: #e00069;
  --primary-color: #4e37a8;
  --secondary-color: #342866;
  --text-color: #f1eeff;
  --font-family: sans-serif;
}

/* GLOBAL RESET and BODY */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* HEADER*/

.header {
  min-height: 50px;
  background-color: var(--primary-color);
  font-family: var(--font-family);
  padding: 0 clamp(1rem, 2vw, 2rem);
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 2px solid rgb(255 255 255 / 0.2);
}

/* NAVBAR*/

.navbar {
  display: flex;
  align-items: center;
}
/* nav logo */
.navbar .logo {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: 900;
  color: var(--accent-color);
  letter-spacing: 1px;

  & span {
    color: var(--text-color);
  }
}
#menu-active {
  display: none;
}

/* hamberger menu */

.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger .menu-open {
  height: 40px;
  width: 40px;
  fill: var(--accent-color);
}
.hamburger .menu-close {
  height: 40px;
  width: 40px;
  fill: var(--accent-color);
}

/* NAV MENU*/

.nav-menu {
  height: 100%;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.nav-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu a {
  text-decoration: none;
  color: #f1eeff;
  padding: 1rem 0.5rem;
}
.nav-menu li:hover {
  background-color: var(--secondary-color);
}

/* MOBILE-VIEW */
@media (max-width: 650px) {
  .navbar {
    width: 100%;
    justify-content: space-between;
    position: relative;
  }
  .hamburger {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
  }
  .hamburger .menu-close {
    display: none;
  }
  .nav-menu {
    background-color: var(--primary-color);
    width: 100%;
    height: calc(100dvh - 50px);
    font-size: 1.25rem;

    position: fixed;
    z-index: 1;
    left: 0;
    top: 50px;

    display: flex;
    flex-direction: column;
    gap: 0;

    transform: translateX(-100%);
    transition: transform 1s ease;
    visibility: hidden;
  }
  .nav-menu a {
    width: 100%;
    padding: 1rem;
  }
  .header:has(#menu-active:checked) .nav-menu {
    transform: translateX(0);
    visibility: visible;
  }
  #menu-active:checked ~ .hamburger .menu-close {
    display: block;
  }
  #menu-active:checked ~ .hamburger .menu-open {
    display: none;
  }
}

/*HERO */
.hero {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: var(--font-family);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(600px, 100%), 1fr));
}

.hero-content {
  height: auto;
  min-height: calc(100dvh - 50px);
  padding-left: clamp(2.5rem, 6vw, 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: clamp(0.5rem, 6vw, 4rem);
}
.hero-tittle {
  font-size: clamp(1.5rem, 5vw, 7rem);
  text-shadow: 0 4px 50px rgb(0 0 0 / 0.3);

  & .tittle-span {
    color: var(--accent-color);
  }
}
.hero-subtext {
  font-size: clamp(0.9rem, 2vw, 1.75rem);
  text-shadow: 0 4px 20px rgb(0 0 0 / 0.3);
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.primary-CTA {
  font-size: clamp(0.75rem, 1.5vw, 1.5rem);
  background-color: var(--accent-color);
  font-weight: 700;
  letter-spacing: 0.05rem;
  padding: 1rem 1.5em;
  border-radius: 999px;
  box-shadow: 0 5px 12px rgb(0 0 0 / 0.3);
}
.secondary-CTA {
  letter-spacing: 0.05rem;
  font-size: clamp(0.75rem, 3vw, 1.5rem);
  background-color: var(--accent-color);
  font-weight: 700;
  padding: 1rem 1.5rem;
  border-radius: 999px;
  box-shadow: 0 5px 12px rgb(0 0 0 / 0.3);
}
.hero-image {
  height: auto;
  min-height: calc(100dvh - 50px);
  width: auto;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

/* HERO_MAP */

.hero-map {
  width: auto;
  min-width: 100%;
}
.map-tittle {
  font-size: clamp(1.5rem, 2vw, 3rem);
  padding: 0 clamp(2.5rem, 6vw, 4rem);
  & .map-span {
    color: var(--accent-color);
  }
}
.hero-map .map-svg {
  width: auto;
  max-width: 100%;
}
.hero-map .map-svg .land {
  fill: #edf1f4;
  stroke: #edf1f4;
  stroke-width: 3;
  stroke-linejoin: round;
}
.hero-map .map-svg .Australia,
.hero-map .map-svg .Brazil,
.hero-map .map-svg .Canada,
.hero-map .map-svg .China,
.hero-map .map-svg .France,
.hero-map .map-svg .Germany,
.hero-map .map-svg .India,
.hero-map .map-svg .Mexico,
.hero-map .map-svg .Russian-Federation,
.hero-map .map-svg .South-Africa,
.hero-map .map-svg .United-Kingdom,
.hero-map .map-svg .United-States {
  fill: var(--accent-color);
  stroke: #452d9c;
  stroke-width: 3;
  stroke-linejoin: round;
}

/* HERO MEDIA */
@media (max-width: 750px) {
  .hero-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .hero-content {
    padding: 0 clamp(2.5rem, 6vw, 4rem);
  }
}
