/* VARIABLES */
:root {
  --accent-color: #e00069;
  --primary-color: #4e37a8;
  --secondary-color: #342866;
  --text-color: #f1eeff;
}

/* GLOBAL RESET and BODY */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* HEADER*/

.header {
  min-height: 50px;
  background-color: var(--primary-color);
  font-family: sans-serif;
  padding: 0 clamp(1rem, 2vw, 2rem);
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* NAVBAR*/

.navbar {
  display: flex;
  align-items: center;
}
/* nav logo */
.navbar .logo {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: 900;
  color: var(--accent-color);
  letter-spacing: 1px;

  & span {
    color: var(--text-color);
  }
}
#menu-active {
  display: none;
}

/* hamberger menu */

.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger .menu-open {
  height: 40px;
  width: 40px;
  fill: var(--accent-color);
}
.hamburger .menu-close {
  height: 40px;
  width: 40px;
  fill: var(--accent-color);
}

/* NAV MENU*/

.nav-menu {
  height: 100%;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.nav-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu a {
  text-decoration: none;
  color: #f1eeff;
  padding: 1rem 0.5rem;
}
.nav-menu li:hover {
  background-color: var(--secondary-color);
}

/* MOBILE-VIEW */
@media (max-width: 650px) {
  .navbar {
    width: 100%;
    justify-content: space-between;
    position: relative;
  }
  .hamburger {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
  }
  .hamburger .menu-close {
    display: none;
  }
  .nav-menu {
    background-color: var(--primary-color);
    width: 100%;
    height: calc(100dvh - 50px);
    font-size: 1.25rem;

    position: fixed;
    z-index: 1;
    left: 0;
    top: 50px;

    display: flex;
    flex-direction: column;
    gap: 0;

    transform: translateX(-100%);
    transition: transform 1s ease;
    visibility: hidden;
  }
  .nav-menu a {
    width: 100%;
    padding: 1rem;
  }
  .header:has(#menu-active:checked) .nav-menu {
    transform: translateX(0);
    visibility: visible;
  }
  #menu-active:checked ~ .hamburger .menu-close {
    display: block;
  }
  #menu-active:checked ~ .hamburger .menu-open {
    display: none;
  }
}
